html{
  transition: color 150ms ease, background-color 150ms ease;
  --hover-color:  #00a36d;
}

html[data-theme='light'] {
  --call-to-action: 67, 137, 177;
  --header-bg: #e0e0e0;
  --aside-bg: #eaeaea;
  --main-bg: #f3f3f3;
  --footer-bg: #f5f5f5;
  --text-color: #000000;
  --text-s-color:#4b4b4b;
  --code-bg-color: #f5f5f5;
  background-color: #ffffff;
  --bubbles-1: #59acff;
  --bubbles-2: #6c9cb3;
  --bubbles-3: #85c6d1;
  --bubbles-4: #95cea2;
  --bubbles-5: #cccccc;
}

html[data-theme='dark'] {
  --call-to-action: 46, 80, 100;
  --header-bg: #1e1e1e;
  --aside-bg: #2a2a2a;
  --main-bg: #121212;
  --footer-bg: #1e1e1e;
  --text-color: #ffffff;
  --text-s-color:#c2c2c2;
  --code-bg-color: #363636;
  background-color: #000000;
  --bubbles-1: #93c9ff;
  --bubbles-2: #a1b0b7;
  --bubbles-3: #d1ecf1;
  --bubbles-4: #d4edda;
  --bubbles-5: #FFF;
}

header {
  background-color: var(--header-bg);
  color: var(--text-color);
}

aside {
  background-color: var(--aside-bg);
  color: var(--text-color);
}

main {
  background-color: var(--main-bg);
  color: var(--text-color);
}

footer {
  background-color: var(--footer-bg);
  color: var(--text-color);
}
